<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">

</head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>


<div class="container">
  <a th:href="@{'/clients/detail/' + ${clientDTO.clientId}}" class="btn btn-primary mt-1">Back to client profile</a>
  <form
          method="post"
          th:action="@{'/clients/full-edit/' + ${clientDTO.clientId}}"
          th:object="${clientDTO}">

    <!-- First row ------------------------>
    <div class="row my-4">
      <div class="col">
        <label for="Name" class="form-label">First name</label>
        <input type="text" class="form-control" id="Name" th:field="*{firstName}" placeholder="Jaroslav">
        <small class="text-danger" th:errors="*{firstName}"></small>
      </div>

      <div class="col">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Kováč">
        <small class="text-danger" th:errors="*{lastName}"></small>
      </div>

    </div>
    <!----------- Second row ------------->
    <div class="row mb-4">
      <!----------- Second row  COL 1 ------------->
      <div class="col">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" class="form-control" id="weight" th:field="*{originalWeight}" step="0.1">
        <small class="text-danger" th:errors="*{originalWeight}"></small>
      </div>
      <div class="col">
        <label for="goalWeight" class="form-label">Goal weight</label>
        <input type="number" class="form-control" id="goalWeight" th:field="*{goalWeight}" step="0.1">
        <small class="text-danger" th:errors="*{goalWeight}"></small>
      </div>

      <!----------- Second row  COL 3 ------------->
      <div class="col mb-4">
        <label class="form-label d-block">Sex:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" th:field="*{sex}" id="male" value="man">
          <label class="form-check-label" for="male">Man 🚹</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" th:field="*{sex}" id="female" value="woman">
          <label class="form-check-label" for="female">Woman 🚺</label>
        </div>
        <small class="text-danger" th:errors="*{sex}"></small>

      </div>
      <!----------- Third row ------------->
      <div class="row mb-4">
        <div class="col">
          <label class="form-label d-block">Program:</label>
          <select class="form-select" th:field="*{program}" required>
            <option value="" disabled selected>-- Choose program --</option>
            <option th:each="p : ${T(com.palci.CoachProgram.Models.Enums.Program).values()}"
                    th:value="${p}"
                    th:text="${p}">
            </option>
          </select>
        </div>
      </div>
      <!----------- Fourth row SUBMIT ------------->
      <div class="row">
        <div class="col">
          <input type="submit" class="btn btn-primary w-100" value="Save client">
        </div>
      </div>

    </div>

  </form>

</div> <!----- Container end ------->









<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>