<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}">

</head>
<body class="bg-light" >
<header th:replace="~{fragments/layout.html ::header}"></header>

<div class="container my-4">

    <!-- User card START -->
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title" th:text="${name}">Username</h5>
            </div>
        </div>
    </div>
    <!-- User card END -->




</div> <!-- End of container -->

<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>