<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>TrApp</title>
  <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
</head>
<body class="min-vh-100" >
<header th:fragment="header" >

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}"><h1>TrApp</h1></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="#">About us</a>
          <a class="nav-link" href="#">Contact</a>
          <a class="nav-link" th:href="@{/profile}">Profile</a>
          <a class="btn btn-success mx-1"  th:href="@{/account/login}">Sign up</a>
          <a class="btn btn-success"  th:href="@{/account/register}">Register</a>
          <form th:action="@{/account/logout}" method="post">
            <button type="submit" class="btn btn-danger"  >Logout</button>
          </form>

        </div>
      </div>
    </div>
  </nav>

</header>



<footer class="bg-dark text-light py-2 mt-5"  th:fragment="footer">
  <div class="container">
    <div class="row">

      <!-- Column 1 -->
      <div class="col-md-4 mb-0">
        <h5>About Us</h5>
        <p class="small">We build powerful apps to track your fitness, clients, and goals.</p>
      </div>

      <!-- Column 2 -->
      <div class="col-md-4 mb-0">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/contact" class="text-light text-decoration-none">Contact</a></li>
          <li><a href="/about" class="text-light text-decoration-none">About</a></li>
        </ul>
      </div>

      <!-- Column 3 -->
      <div class="col-md-4 mb-1">
        <h5>Follow Us</h5>
        <a href="#" class="text-light me-2"><i class="bi bi-facebook"></i> Facebook</a><br>
        <a href="#" class="text-light me-2"><i class="bi bi-twitter"></i> Twitter</a><br>
        <a href="#" class="text-light"><i class="bi bi-instagram"></i> Instagram</a>
      </div>

    </div>

    <hr class="bg-light my-1">

    <div class="text-center">
      <p class="mb-0">&copy; 2025 Palči App. All rights reserved.</p>
    </div>
  </div>
</footer>

<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>