<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>TrApp</title>
  <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
  <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/main.min.css' rel='stylesheet' />
</head>
<body class="min-vh-100" >
<header th:fragment="header" >

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}"><h1>Coach App</h1></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" th:href="@{/about-us}">About us</a>
          <a class="nav-link" th:href="@{/contact}">Contact</a>
          <a class="btn btn-warning mx-1" sec:authorize="isAuthenticated()"  th:href="@{/clients}" >Profile</a>
          <a class="btn btn-success mx-1" sec:authorize="isAnonymous()" th:href="@{/login}">Sign up</a>
          <a class="btn btn-success" sec:authorize="isAnonymous()" th:href="@{/register}">Register</a>
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger" sec:authorize="isAuthenticated()" >Logout</button>
          </form>

        </div>
      </div>
    </div>
  </nav>

</header>



<footer class="bg-dark text-white text-center py-2 mt-5" th:fragment="footer">
  <small>&copy; 2025 CoachApp. All rights reserved.</small>
</footer>

<script th:src="@{/scripts/bootstrap.bundle.min.js}"></script>
</body>
</html>